<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="listproviders"
          routerLinkActive="active">Liste Providers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="listarticle"
          routerLinkActive="active">List Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="user" routerLinkActive="active">list User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="medecin" routerLinkActive="active">list Medecins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="contact"
          routerLinkActive="active">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="dashbaordAdmin"
          routerLinkActive="active">Dashboard Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!loginService.isUserLoggedIn()" routerLink="login"
          routerLinkActive="active">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="logout"
          routerLinkActive="active">logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
