<h1 align="center">Liste des Medecins</h1>
<br>
<table align="center" border="1" class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
        <th>Grade</th>
        <th>photo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medecin of listmed">
        <td>{{medecin.nom}}</td>
        <td>{{medecin.prenom}}</td>
        <td>{{medecin.age}}</td>
        <td>{{medecin.grade}}</td>
        <td><img [src]="medecin.photo"></td>
      </tr>
    </tbody>
  </table>


