<h3 align="center">Ajout Article</h3>
<form #articleForm="ngForm" (ngSubmit)="ajoutArticle(articleForm.value)">
    <div class="form-group">
      <label for="nom">label</label>
      <input ngModel name="label" type="text" class="form-control" id="label" aria-describedby="emailHelp" placeholder="Nom">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input ngModel name="price" type="text" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Adress">
    </div>
    <div class="form-group">
      <label for="picture">Picture</label>
      <input ngModel name="picture" type="text" class="form-control" id="picture" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="provider">Provider</label>
      <select ngModel name="providernbr" type="text" class="form-control" id="provider">

        <option *ngFor="let provider of Listprovider" value="{{provider.id}}">{{provider.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
