<h3 align="center">Ajout Provider</h3>

    <div class="form-group">
      <label for="nom">Name</label>
      <input [(ngModel)]="name" name="nom" type="text" class="form-control" id="nom" aria-describedby="emailHelp" >
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input [(ngModel)]="address" name="address" type="text" class="form-control" id="address" aria-describedby="emailHelp" >
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="email" name="email" type="text" class="form-control" id="email" aria-describedby="emailHelp" >
    </div>

    <button  class="btn btn-primary" (click)="saveupdate()">Submit</button>


